<div class="title">
  <h3>{{ 'Global Top 50' | translate }}</h3>
  <button [routerLink]="['/top50']">
    <img class="svg" src="assets/icons/more.svg" alt="">
  </button>
</div>
<div class="global50">
  <app-song-cube *ngFor="let item of top50songs | slice:0:4" [song]="item"></app-song-cube>
</div>
  <div class="title">
    <h3>{{ 'Songs You Might Like' | translate }}</h3>
    <button [routerLink]="['/suggestions']">
      <img class="svg" src="assets/icons/more.svg" alt="">
    </button>
  </div>
<div class="suggestions">
  <app-song-cube *ngFor="let item of recommendedSongs | slice:0:4" [song]="item"></app-song-cube>
</div>

  <div class="title">
    <h3>{{ 'Recently Played' | translate }}</h3>
    <button [routerLink]="['/recent']">
      <img class="svg" src="assets/icons/more.svg" alt="">
    </button>
  </div>
<div class="recently">
  <div class="list" *ngIf="this.recentSongs.length != 0" >
    <app-song *ngFor="let item of recentSongs | slice:0:10" [song]="item"></app-song>
  </div>
  <h3 class="notFound" *ngIf="this.recentSongs.length == 0">You Haven't Played Any Songs Yet.</h3>
</div>
