.suggestions, .global50 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title h3 {
    color: #475476;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.title button img {
    width: 25px;
    height: 25px;
}

.title button {
    background: none;
    border: none;
}

.notFound {
    font-size: 12px;
    font-family: cursive;
    color: #475476;
}