<section class="settings">
    <h1 class="sectionTitle greyTitle">{{ 'CUSTOMISE' | translate }}</h1>
     <section class="customise">
        <div class="customiseTab nightMode">
            <h3 class="settingTab">{{ 'NIGHT MODE' | translate }}</h3>
            <button [ngClass]="this.darkModeStatus === true ? 'turnedOn' : 'turnButton'" (click)="changeNightMode()">
                <img src="assets/icons/lightoff.svg" alt="">
            </button>
        </div>
    </section>
    <h1 class="sectionTitle greyTitle">{{ 'SETTINGS' | translate }}</h1>
    <div class="otherSettings">
        <h3 class="settingTab" [routerLink]="['/languages']" >
            {{ 'Language' | translate }}
        </h3>
    </div>
</section>