

.customiseTab {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionTitle {
    margin: 2% auto;
}

.turnButton {
    border: none;
    width: 40px;
    height: 40px;
}

.turnedOn {
    border: none;
    width: 40px;
    height: 40px;
    background-color: #4BA3A7;
}

.turnedOn img {
    filter: invert(1);
}