
.customiseTab {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionTitle {
    margin: 2% auto;
}

.nightButton {
    border: none;
    width: 40px;
    height: 40px;
}