.customiseTab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin: 5px 0px;
    font-size: 15px;
}

.sectionTitle {
    margin: 2% auto;
    font-size: 17px;
    letter-spacing: 7px;
}


.turnButton {
    border: none;
    width: 40px;
    height: 40px;
}

.turnedOn {
    border: none;
    width: 40px;
    height: 40px;
    background-color: #4BA3A7;
}

.turnedOn img {
    filter: invert(1);
}

.settingTab {
    font-weight: bold;
    margin: 5px 0px;
    font-size: 15px;
}