<div class="title">
    <h3>{{ 'Global Top 50' | translate }}</h3>
    </div>
<div class="global50">
    <app-song-cube *ngFor="let item of songs | slice:GlobalStart:GlobalEnd" [song]="item"></app-song-cube>
</div>
<div class="navigation">
    <button *ngIf="this.GlobalStart != 0" (click)="goTo(Back)">
        <img class="svg" src="../../../assets/icons/chevrons-left.svg" alt="">
    </button>
    
    <button *ngIf="this.GlobalEnd + 16 < this.songs.length" (click)="goTo(Next)">
        <img class="svg" src="../../../assets/icons/chevrons-right.svg" alt="">
    </button>
</div>