.albumCube {
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.albumInfo {
    text-align: center;
}

.image {
    width: 11vw;
    height: 11vw;
    border-radius: 22px;
    object-fit: cover;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

h3 {
    max-width: 119px;
    font-size: 15px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #3c4356;
}

p {
    font-size: 14px;
    margin: auto;
    margin-top: 3px;
    font-family: 'Montserrat', sans-serif;
}


@media screen and (max-width:767px) {
    .image {
        width: 21vw;
        height: 21vw;
    }
}