.is-active {
  color: #FA7C05 !important;
}

.is-active-tab {
  border-right: 3px solid #FA7C05;
}


.playlist {
  display: flex;
  align-items: center;
  height: 25px;
}

img {
  width: 25px;
  height: 25px;
}

a {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #687490;
  text-decoration: none;
}

a p {
  margin-left: 10px;
}
