* {
  transition: 0.1s;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex h1 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.is-active-tab {
  border-right: 3px solid #82FFD0;
}

.moreButton img {
  width: 25px;
  height: 25px;
}

.moreButton {
  background: none;
  border: none;
}

.logo {
  margin-left: 10px;
  height: 50px;
}

.logo a {
  display: flex;
  justify-content: space-between;
  max-width: 100px;
}

.logo a img {
  width: 28px;
}

.header .mobileNavbar {
  display: none;
  flex-wrap: nowrap;
  width: 100%;
  text-align: center;
  align-items: center;
}

.header .tabs {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 96%;
  margin: auto;
}

.components {
  display: flex;
  justify-content: space-between;
}

.left, .right{
  padding: 5px;
}

.left {
  width: 17vw;
  position: fixed;
  border-right: 2px solid #dce2ea8c;
  height: -webkit-fill-available;
}

.right {
  width: 20vw;
  position: fixed;
  left: 75%;
  border-left: 2px solid #dce2ea8c;
  padding-left: 2%;
  height: -webkit-fill-available;
}

.center {
  width: 54vw;
  left: 20vw;
  position: absolute;
  padding-bottom: 80px;
}


.right h1 {
  font-size: 17px;
  margin: 5px auto;
}

.left a p,
.mobileNavbar a p {
  margin-left: 10px;
}

.left .tabs {
  margin-left: 10px;
}

.left .tabs h1,
.mobileNavbar .tabs h1,
.right .tabs h1 {
  margin: 2.5vh auto;
  letter-spacing: 3px;
  font-size: 14px;
  color: #687490;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.left .tabs .tab a img,
.mobileNavbar .tabs .tab a img {
  width: 25px;
  height: 25px;
}

.left .tabs .tab,
.mobileNavbar .tabs .tab {
  max-height: 40px;
  display: flex;
  height: 30px;
  margin: 15px auto;
}

.left .tabs .tab a,
.mobileNavbar .tabs .tab a {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #687490;
}

.left .tabs .tab a:hover {
  color: #62c49e;
}

.profile a {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #687490;
}


.profile img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.player-bar {
  width: 100%;
  position: fixed;
  bottom: 0;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 15px 15px 0px 0px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.player-bar .player-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 5px 0px;
}

.player-bar .player-content .music-info-area {
  display: flex;
  height: 50px;
}

.player-bar .music-info-area img {
  width: 50px;
  min-width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 8px;
}

.player-bar .player-content .music-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 200px
}

.player-bar .player-content .music-info h3 {
  width: 100%;
  margin: 5px 0px 0px 0px;
  font-size: 15px;
}

.player-bar .player-content .music-info p {
  margin: 0px;
  font-size: 13px;
  width: 100%;
}

.player-bar .player-content .control-area {
  width: 85%;
}

.player-bar .player-content .control-area .left-side {
  display: flex;
  align-items: center;
}

.player-bar .player-content .control-area .left-side .volume-slider #vol-control {
  border-radius: 8px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none
}

.player-bar .player-content .control-area .left-side .controller {
  margin: auto;
}

.player-bar .player-content .control-area .left-side .controller button {
  border: none;
  background-color: unset;
}

.player-bar .player-content .control-area .left-side .controller button img {
  width: 20px;
  height: 20px;
}

.player-bar .player-content .control-area .left-side .controller .play-button {
  width: 45px;
  height: 45px;
  background-color: #6ac7cc;
  padding: 12px;
  border-radius: 50%;
}

.player-bar .player-content .control-area .left-side .controller .play-button img {
  filter: invert(1);
}

.player-bar .player-content .control-area .timer {
  display: flex;
  width: 60%;
  margin: auto
}

.player-bar .player-content .control-area .timer .left-side {
  display: flex;
  width: 100%;
  align-items: center
}

.player-bar .player-content .control-area .timer .left-side .progress-bar {
  height: 4px;
  margin-left: 5px;
}

.player .songInfo .singer,
.song {
  margin: 3px auto;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.player .songInfo img {
  width: 100%;
  max-width: 180px;
  height: 140px;
  border-radius: 14px;
  object-fit: cover;

}

.player .container .left-side {
  display: flex;
  width: 100%;
  align-items: center;
}

.player .container .row .progress-bar {
  height: 10px;
  background-color: white;
  margin-left: 5px;
}


.playerControllers button {
  border: none;
  background-color: unset;
}

.playerControllers button img {
  width: 20px;
  height: 20px;
  filter: invert(1);
}

.addFunc img {
  width: 18px !important;
  height: 18px !important;
}

.player h1 {
  font-size: 15px;
}


.artists-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}




@media screen and (max-width: 470px) {
  .player-bar .player-content {
    width: 95%;
  }

  .player-bar .player-content .control-area .left-side .controller .play-button {
    width: 35px;
    height: 35px;
    padding: 7px;
  }

  .player-bar .player-content .music-info-area {
    width: 50vw;
  }

  .player-bar .player-content .control-area .left-side .controller .additional-func {
    display: none;
  }


}


@media screen and (max-width: 767px) {

  .player-bar .player-content .control-area {
    width: unset!important;
  }

  .player-bar .player-content .control-area .left-side .controller {
    width: 75%;
    margin: 0px;
  }

  .player-bar .player-content .control-area .timer {
    width: 100%;
    margin: 0px;
  }

  .player-bar .player-content .music-info {
    width: 180px;
    max-width: unset;
  }
  
  .left,
  .right {
    display: none;
  }

  .center {
    position: unset;
    width: 90%!important;
    left: 0px!important;
    margin: auto;
  }

  .header .mobileNavbar {
    display: flex;
  }
}

@media screen and (max-width: 1190px) {

  .player .songInfo img {
    height: 18vh;
  }

  .player .songInfo .singer {
    font-size: 2.2vh;
  }

  .player .songInfo .song {
    font-size: 1.7vh;
  }

  .playerControllers button img {
    width: 2vw;
    height: 3vh;
  }

  .left .tabs h1,
  .mobileNavbar .tabs h1,
  .right .tabs h1 {
    margin: 17px auto;
  }

  .profile img {
    width: 6vh;
    height: 6vh;
  }

}
