* {
  transition: 0.1s;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex h1 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.is-active {
  color: #FA7C05 !important;
}

.is-active-tab {
  border-right: 3px solid #FA7C05;
}

.moreButton img {
  width: 25px;
  height: 25px;
}

.moreButton {
  background: none;
  border: none;
}

.logo {
  margin-left: 10px;
  height: 50px;
}

.logo a {
  display: flex;
  justify-content: space-between;
  max-width: 100px;
}

.logo a img {
  width: 28px;
}

.navController {
  display: none;
}

.header .mobileNavbar {
  display: none;
  flex-wrap: nowrap;
  width: 100%;
  text-align: center;
  align-items: center;
}

.header .tabs {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 96%;
  margin: auto;
}

.components {
  display: flex;
  justify-content: space-between;
}

.left, .right{
  width: 100%;
  padding: 5px;
}

.left {
  max-width: 210px;
  position: fixed;
  border-right: 2px solid #dce2ea8c;
  height: -webkit-fill-available;
}

.right {
  position: fixed;
  left: 75%;
  border-left: 2px solid #dce2ea8c;
  padding-left: 2%;
  width: 15vw;
  height: -webkit-fill-available;
}

.center {
  width: 54vw;
  left: 20vw;
  position: absolute;
}


.right h1 {
  font-size: 17px;
  margin: 5px auto;
}

.left a p,
.mobileNavbar a p {
  margin-left: 10px;
}

.left .tabs {
  margin-left: 10px;
}

.left .tabs h1,
.mobileNavbar .tabs h1,
.right .tabs h1 {
  margin: 20px auto;
  letter-spacing: 3px;
  font-size: 14px;
  color: #687490;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.left .tabs .tab a img,
.mobileNavbar .tabs .tab a img {
  width: 25px;
  height: 25px;
}

.left .tabs .tab,
.mobileNavbar .tabs .tab {
  max-height: 40px;
  display: flex;
  height: 30px;
  margin: 15px auto;
}

.left .tabs .tab a,
.mobileNavbar .tabs .tab a {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #687490;
}

.left .tabs .tab a:hover {
  color: #FA7C05;
}

.profile a {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #687490;
}


.profile img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.player {
  background-color: #4BA3A7;
  text-align: center;
  padding: 8px 13px 35px 13px;
  border-radius: 14px;
  width: 15vw;
  height: 46vh;
  color: white;
  margin-top: 6%;
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.animatedPlayer {
  animation: gradientChange 10s infinite;
}

.player .songInfo .singer,
.song {
  margin: 3px auto;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.player .songInfo img {
  width: 100%;
  max-width: 180px;
  height: 140px;
  border-radius: 14px;
  object-fit: cover;

}

.player .container .row {
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
  height: 20px;
}

.player .container .left-side {
  display: flex;
  width: 100%;
  align-items: center;
}

.player .container .row .progress-bar {
  height: 10px;
  background-color: white;
  margin-left: 5px;
}

.playerControllers {
  margin: auto;
}

.playerControllers button {
  border: none;
  background-color: unset;
}

.playerControllers button img {
  width: 20px;
  height: 20px;
  filter: invert(1);
}

.playerControllers .ppcontrol {
  background-color: #6ac7cc;
  padding: 12px;
  border-radius: 7px;
}

.addFunc img {
  width: 18px !important;
  height: 18px !important;
}

.player h1 {
  font-size: 15px;
}


.artists-list {
  display: flex;
  width: 100%;
  max-width: 300px;
}



@media screen and (max-width: 790px) {

  .left,
  .right {
    display: none;
  }

  .center {
    position: unset;
    width: 90%!important;
    left: 0px!important;
    margin: auto;
  }

  .header .mobileNavbar {
    display: flex;
  }
}

@media screen and (max-width: 1100px) {

  .center {
    width: 42vw;
    left: 30vw;
  }

  .player {
    width: 18vw;
  }
}

@media screen and (max-width: 1190px) {

  .animatedPlayer .clip {
    max-width: 145px !important;
  }

  .animatedPlayer .animated {
    height: 100px !important;
  }

  .playerControllers {
    display: table-cell;
  }

  .player .col-12 {
    display: initial;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .player .songInfo img,
  .animatedPlayer .clip {
    height: 18vh;
  }

  .player .songInfo .singer {
    font-size: 2.2vh;
  }

  .player .songInfo .song {
    font-size: 1.7vh;
  }

  .playerControllers button img {
    width: 2vw;
    height: 3vh;
  }

  .left .tabs h1,
  .mobileNavbar .tabs h1,
  .right .tabs h1 {
    margin: 17px auto;
  }

  .profile img {
    width: 6vh;
    height: 6vh;
  }

}


@keyframes gradientChange {
  0% {
    background-color: rgb(75, 163, 167);
  }

  25% {
    background-color: rgb(52, 114, 116);
  }

  50% {
    background-color: rgb(46, 102, 104);
  }

  75% {
    background-color: rgb(22, 48, 50);
  }

  100% {
    background-color: rgb(75, 163, 167);
  }
}


/* animated */

/* credits: https://codepen.io/meemaw1/pen/ZqEdZL */

@keyframes clip1 {
  0% {
    clip-path: polygon(0% -50%, 50% -50%, -50% 50%, -100% 50%);
  }

  100% {
    clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}

@keyframes clipa {
  0% {
    clip-path: polygon(-5% -55%, 55% -45%, -45% 55%, -95% 55%);
  }

  100% {
    clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}

@keyframes clip2 {
  0% {
    clip-path: polygon(50% -50%, 100% -50%, 200% 50%, 150% 50%);
  }

  100% {
    clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}

@keyframes clipb {
  0% {
    clip-path: polygon(40% -60%, 100% -50%, 190% 40%, 150% 50%);
  }

  100% {
    clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}

@keyframes clip3 {
  0% {
    clip-path: polygon(-100% -150%, -50% -150%, -150% -50%, -200% -50%);
  }

  100% {
    clip-path: polygon(150% 50%, 200% 50%, 100% 150%, 50% 150%);
  }
}

@keyframes clip4 {
  0% {
    clip-path: polygon(150% -150%, 200% -150%, 300% -50%, 250% -50%);
  }

  100% {
    clip-path: polygon(-100% 50%, -50% 50%, 50% 150%, 0% 150%);
  }
}


.animatedPlayer .animated {
  height: 155px;
  margin-left: 4%;
}

.animatedPlayer .songInfo {
  margin-top: 8%;
}

.animatedPlayer .clip {
  position: absolute;
  width: 100%;
  max-width: 180px;
  height: 140px;
  border-radius: 14px;
  background-size: cover;
  background-repeat: no-repeat;
  transform-origin: center;
  background-position: center;
}

.animatedPlayer #clip1 {
  animation: clip1 4s linear infinite;
}

.animatedPlayer #clipa {
  transform: scale(1.1, 1.1);
  animation: clipa 9s linear infinite;
}

.animatedPlayer #clip2 {
  transform: scale(1.12, 1.12);
  animation: clip2 5s linear infinite;
}

.animatedPlayer #clipb {
  transform: scale(1.14, 1.14);
  animation: clipb 4s linear infinite;
}

.animatedPlayer #clip3 {
  transform: scale(1.15, 1.15);
  animation: clip3 7s linear infinite;
}

.animatedPlayer #clip4 {
  transform: scale(1.13, 1.13);
  animation: clip4 6s linear infinite;
}
