<section class="header">
  <div class="mobileNavbar {{mobileNavStatus}}">
    <div class="tabs">
      <div class="tab">
        <a [routerLink]="['home']"><img src="assets/icons/home.svg" alt="">
        </a>
      </div>
      <div class="tab">
        <a [routerLink]="['search']"><img src="assets/icons/search.svg" alt="">
        </a>
      </div>
      <div class="tab">
        <a [routerLink]="['discover']"><img src="assets/icons/discover.svg" alt="">
        </a>
      </div>
      <div class="tab">
        <a [routerLink]="['albums']"><img src="assets/icons/album.svg" alt="">
        </a>
      </div>
      <div class="tab">
        <a [routerLink]="['artists']"><img src="assets/icons/artist.svg" alt="">
        </a>
      </div>
      <div class="tab">
        <a [routerLink]="['settings']"><img src="assets/icons/settings.svg" alt="">
        </a>
      </div>
      <div class="tab">
        <a [routerLink]="['logout']"><img src="assets/icons/exit.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
<div class="components">
  <aside class="left">
    <div class="logo">
      <a [routerLink]="['home']"><img class="svg" src="assets/icons/logo.svg" alt="">
        <h3>Feelife</h3>
      </a>
    </div>
    <div class="tabs">
      <h1>{{ 'MENU' | translate }}</h1>
      <div class="tab" [routerLinkActive]="['is-active-tab']">
        <a [routerLink]="['home']"><img src="assets/icons/home.svg" alt="">
          <p>{{ 'Home' | translate }}</p>
        </a>
      </div>
      <div class="tab" [routerLinkActive]="['is-active-tab']">
        <a [routerLink]="['search']"><img src="assets/icons/search.svg" alt="">
          <p>{{ 'Search' | translate }}</p>
        </a>
      </div>
      <div class="tab" [routerLinkActive]="['is-active-tab']">
        <a [routerLink]="['discover']"><img src="assets/icons/discover.svg"
            alt="">
          <p>{{ 'Discover' | translate }}</p>
        </a>
      </div>
      <div class="tab" [routerLinkActive]="['is-active-tab']">
        <a [routerLink]="['albums']"><img src="assets/icons/album.svg" alt="">
          <p>{{ 'Albums' | translate }}</p>
        </a>
      </div>
      <div class="tab" [routerLinkActive]="['is-active-tab']">
        <a [routerLink]="['artists']"><img src="assets/icons/artist.svg" alt="">
          <p>{{ 'Artists' | translate }}</p>
        </a>
      </div>
    </div>
    <div class="tabs">
      <h1>{{ 'LIBRARY' | translate }}</h1>
      <div class="tab" [routerLinkActive]="['is-active-tab']">
        <a [routerLink]="['recent']"><img src="assets/icons/recent.svg" alt="">
          <p>{{ 'Recent' | translate }}</p>
        </a>
      </div>
    </div>
    <div class="tabs">
      <h1>{{ 'GENERAL' | translate }}</h1>
      <div class="tab" [routerLinkActive]="['is-active-tab']">
        <a [routerLink]="['settings']"><img src="assets/icons/settings.svg"
            alt="">
          <p>{{ 'Settings' | translate }}</p>
        </a>
      </div>
      <div class="tab" [routerLinkActive]="['is-active-tab']">
        <a [routerLink]="['logout']"><img src="assets/icons/exit.svg" alt="">
          <p>{{ 'Log Out' | translate }}</p>
        </a>
      </div>
    </div>
  </aside>
  <aside class="center">
    <div style="margin-bottom: 10px;">
      <router-outlet></router-outlet>
    </div>
  </aside>
  <aside class="right">
    <div class="feature tabs">
      <h1>{{ 'PROFILE' | translate }}</h1>
      <div class="profile">
        <div class="tab">
          <a [routerLink]="['profile']"><img class="userIcon" src="assets/icons/user-circle.svg" alt="">
            <p>{{ 'profile' | translate }}</p>
          </a>
        </div>
      </div>
    </div>
    <div class="feature tabs">
      <div class="flex">
        <h1>{{ 'TOP ARTISTS' | translate }}</h1>
        <button class="moreButton" [routerLink]="['/artists']">
          <img class="svg" src="assets/icons/more.svg" alt="">
        </button>
      </div>
      <div class="mini-artists-list">
        <ng-container *ngFor="let item of singers | slice:0:9">
          <div class="singer" [routerLink]="['/artist-info/' + item.id]">
            <img [src]="item.coverphoto"alt="">
            <h3>{{ item.singer }}</h3>
          </div>
        </ng-container>
      </div>
    </div>

  </aside>
</div>

<audio #player (timeupdate)="onTimeUpdate()" (pause)="onPause()"></audio>


<div class="player-bar">
  <div class="player-content">
    <div class="music-info-area" *ngIf="this.activeSong">
      <img *ngIf="activeSong?.coverphoto" [src]="activeSong?.coverphoto" alt="">
      <div class="music-info">
        <h3 *ngIf="activeSong?.singer">{{ activeSong?.singer }}</h3>
        <p *ngIf="activeSong?.songtitle">{{ activeSong?.songtitle }}</p>
      </div>
    </div>
    <div class="control-area">
      <div class="left-side">
        <table class="controller">
          <button class="additional-func svg" (click)="shuffleChange()"><img src="assets/icons/shuffle.svg"
              alt=""></button>
          <td><button type="button" class="svg" (click)="playPreviousSong()"><img src="assets/icons/skip-back.svg"
                alt=""></button></td>
          <td [style.display]="isPlaying === true ? 'table-cell' : 'none'"><button type="button" class="play-button"
              *ngIf="isPlaying" (click)="player.pause()"><img src="assets/icons/pauze.svg" alt=""></button></td>
          <td [style.display]="isPlaying === false ? 'table-cell' : 'none'"><button type="button" class="play-button"
              *ngIf="!isPlaying" (click)="playSong(activeSong?.id)"><img src="assets/icons/play.svg" alt=""></button>
          </td>

          <td><button type="button" class="svg" (click)="playNextSong()"><img src="assets/icons/skip-forward.svg"
                alt=""></button></td>
          <button class="additional-func svg" (click)="repeatChange()"><img src="assets/icons/repeat.svg"
              alt=""></button>
        </table>
        <div class="volume-slider" [ngStyle]="{ 'display': this.innerWidth < 768 ? 'none' : 'block'}">
          <input id="vol-control" #volumeSlider type="range" [(ngModel)]="this.vol" (ngModelChange)="changeVolume()" min="0" max="100"
            step="1">
        </div>
      </div>
      <div class="timer">
        <div class="left-side">
          <div class="col-6 text-left">
            {{ currentTime$ | async }}
          </div>
          <div class="progress-bar t-bg-accent-color" role="progress-bar"
            [ngStyle]="{'width': (currentProgress$ | async) + '%'}" [attr.aria-valuenow]="(currentProgress$ | async) "
            aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
        <div class="col-6 text-right" *ngIf="player?.duration">
          {{ durationTime }}
        </div>
      </div>
    </div>
  </div>
</div>
