.suggestions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title button img {
    width: 25px;
    height: 25px;
}

.title button {
    background: none;
    border: none;
}