<input class="searchBar" placeholder="{{ 'Search' | translate }}" (input)="Search($event.target.value)" >

<section class="results" *ngIf="this.songResults || this.singerResults">
    <h1 class="greyTitle">{{ 'SINGERS' | translate }}</h1>
    <div class="singers-list">
        <app-artist *ngFor="let item of singerResults" [singer]="item"></app-artist>
    </div>
    <h1 class="greyTitle">{{ 'SONGS' | translate }}</h1>
    <app-song *ngFor="let item of songResults" [song]="item"></app-song>
</section>