.profile-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 450px;
    align-items: center;
}

.profile-image {
    width: 100%;
    max-width: 160px;
}

.added-songs .title {
    font-size: 25px;
    margin: 25px auto;
}

.navigator {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.navigator button {
    background: none;
    border: none;
    width: 90px;
    height: 40px;
}

.navigator button img {
    width: 35px;
    height: 35px;
}