<section class="profile">
    <div class="profile-info">
        <div class="profile-image">
            <img src="assets/icons/user-circle.svg" alt="">
        </div>
        <div class="profile-details">
            <div class="detail">
                <h3>{{ 'Name' | translate }} : XXXXXXXXXXXXX</h3>
            </div>
            <div class="detail">
                <h3>{{ 'Profile Created' | translate }}: XX.XX.XXXX</h3>
            </div>
        </div>
    </div>
    <div class="added-songs">
        <div class="title">{{ 'User Added Songs' | translate }}</div>
        <app-song *ngFor='let item of songs | slice:navStart:navEnd' [song]="item"></app-song>
    </div>
    <div class="navigator">
        <button *ngIf="this.navStart === 0"></button>
        <button *ngIf="this.navStart !== 0" (click)="goBack()"><img src="assets/icons/arrow-left.svg" alt="" class="svg"></button>
        <button *ngIf="this.navStart + 10 < this.songs.length" (click)="goNext()"><img src="assets/icons/arrow-right.svg" alt="" class="svg"></button>
    </div>
</section>